h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 44px;
    padding: 30px 0;
    margin: 0;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
}

.search-form {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 15px 30px;
}

.country {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-image: linear-gradient(135deg, #5968da, #001064);
    text-align: center;
    color: #fff !important;
}

.country h5 {
    font-size: 30px;
    margin-bottom: 20px;
}